@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #2e5bff;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --color-grey: #eee;
  --color-dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}


header{
  background: linear-gradient(to right bottom, var(--light-blue), #17d1ff);
  border-radius: 0 0 4rem 4rem;
  position: relative;
  z-index: 10;
}

.animation{
  position: absolute;
  background-color: rgba(60, 158, 153, 0.507);
  width: 150px;
  height: 150px;
  top: 7em;
  left: 2rem;
  border-radius: 50%;
  z-index: -1;
  animation: rotate ease 5s infinite;
}

.anim1{
  background-color: rgba(35, 49, 173, 0.5);
  top: 27rem;
  left: 15rem;
  width: 100px;
  height: 100px;
}

.anim3{
  background-color: rgba(30, 218, 243, 0.5);
  width: 300px;
  height: 300px;
  top: 1rem;
  left: 67rem;
}



nav{
  display: flex;
  justify-content: space-between;
  padding: 1.9rem 6rem;
  align-items: center;
}

nav img{
  width: 128px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  transition: all 0.3s;
}

nav ul li a:hover{
  color: var(--blue);
}

nav .li-get{
  display: none;
}

.get-btn a{
  color: var(--white);
  text-decoration: none;
  border: 2px solid var(--white);
  border-radius: 3rem;
  padding: 9px 20px;
  font-weight: 600;
  transition: all 0.3s;
}

.get-btn a:hover{
  color: var(--blue);
  border: 3px solid var(--light-blue);
  background-color: var(--white);
  padding: 10px 20px;
}


.down a{
  color: var(--white);
  text-decoration: none;
  border: 2px solid var(--white);
  border-radius: 3rem;
  padding: 9px 20px;
  font-weight: 600;
  transition: all 0.3s;
}

.down a:hover{
  color: var(--blue);
  border: 3px solid var(--light-blue);
  background-color: var(--white);
  padding: 10px 20px;
}




.first-sec{
  padding-top: 75px;
  color: var(--white);
  text-align: center;
}

.first-sec h1{
  font-size: 3.1rem;
  font-weight: 600;
}

.first-sec p{
  padding: 0 250px;
  padding-bottom: 50px;
}

.trial-btn{
  border: 2px solid var(--white);
  padding: 10px 20px;
  border-radius: 3rem;
}

.trial-btn,a{
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
}
.sec-img{
  transform: translateY(23%);
}

.sec-img img{
  width: 950px;
}


.sec-container{
  margin-top: 13rem;
  padding-bottom: 30px;
}

.sec-content{
  text-align: center;
}

.sec-content h2{
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 20px;
}

.sec-content p{
  color: #48757a;
  margin-bottom: 50px;
}

.box-container{
  text-align: center;
  gap: 1.2rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.4rem;
}

.sec-box{
  width: 280px;
  border: 1px solid #48757a49;
  border-radius: 5px;
  padding: 10px 10px 40px 10px;
  cursor: pointer;
}

.sec-box:hover{
  transform: translateY(-10%);
  transition: all 0.3s ease-in-out;
  border-top: 2px solid var(--light-blue);
}

.sec-box h3{
  padding-bottom: 15px;
  font-weight: 600;
}

.sec-box p{
  font-size: 15px;
  padding-bottom: 15px;
}

.fas{
  color: var(--light-blue);
  font-size: 20px;
  padding: 40px 0 18px 0;
}



.link{
  color: var(--blue);
  font-weight: 600;
  border-bottom: 1px solid var(--black);
}

.third-container{
  padding-bottom: 7rem;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  background-color: #72727210;
}

.wrapper-1{
  width: 34rem;
  margin-left: 30px;
}

.wrapper-1 .fas{
  color: rgb(64, 182, 64);
  padding-right: 10px;
  font-size: 21px;
}
.wrapper-1 p{
  color: #48757a;
  font-size: 18px;
}

.third-container h2{
  font-size: 30px;
  font-weight: 600;
}

.consult-btn a{
  background-color: var(--light-blue);
  padding: 10px 15px;
  border-radius: 4px;
  transition: all .4s ease-in-out;
}

.consult-btn a:hover{
  background-color: #fff;
  color: var(--blue);
  font-weight: 700;
  border: 3px solid var(--light-blue);
}

.fourth-sec{
  background: url(/images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  background-size: 100%;
}

.gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, var(--light-blue), #17d1ff);
  opacity: .9;
}

.img-wrapper img{
  height: 800px;
  transform: translateY(-6.3%);
  z-index: -1;
}

.content-wrapper{
  width: 570px;
  z-index: 1;
  color: var(--white);
  margin-top: 9rem;
  margin-left: -180px;
}

.content-wrapper h1{
  font-weight: 600;
  padding-bottom: 20px;
}

.dev-box{
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
}

.dev-box h3{
  font-weight: 600;
  padding-bottom: 20px;
}

.dev-box .fas{
  color: var(--white);
  font-size: 30px;
}

.dev-box p{
  line-height: 1.5rem;
}

.waiting-sec{
  height: 57vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waiting-sec h1{
  font-weight: 600;
  font-size: 31px;
  color: var(--black);
  padding-bottom: 20px;
}

.waiting-sec p{
  color: #48757a;
  padding-bottom: 30px;
}

.trial-btn a{
  background-color: var(--light-blue);
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  transition: all .4s ease-in-out;
}

.trial-btn a:hover{
  background-color: #fff;
  padding: 10px 20px;
  color: var(--blue);
  font-weight: 700;
  border: 3px solid var(--light-blue);
}

footer{
  background: var(--color-dark-grey);
  display: flex;
  justify-content: space-around;
  padding: 50px 0 70px 0;
}

.footer-logo{
  width: 125px;
  height: 35px;
}

.footer-sec1 ul li{
  list-style: none;
  line-height: 2rem;
}

.footer-sec1 ul li a{
  color: #777a7a;
}

.footer-sec1 ul li a:hover{
  color: var(--white);
  border-bottom: 1px solid var(--white);
  padding-bottom: 2px;
  transition: all .3s ease-in-out;
}

.footer-sec2 ul li{
  list-style: none;
  line-height: 2rem;
}

.footer-sec2 ul li a:hover{
  color: var(--white);
  border-bottom: 1px solid var(--white);
  padding-bottom: 2px;
  transition: all .3s ease-in-out;
}

.footer-sec2 ul li a{
  color: #777a7a;
}

.newsletter p{
  color: #777a7a;
  margin-bottom: 5px;
}

.newsletter input{
  padding: 11px 90px 11px 10px;
  margin-bottom: 7px;
  border-radius: 3px;
  border-style: none;
}

.submit-btn{
  margin: 15px 0 30px 0;
}

.submit-btn a{
  background: var(--light-blue);
  padding: 10px 106px;
  border-radius: 3px;
  text-align: center;
}

.submit-btn a:hover{
  background: var(--white);
  color: var(--blue);
}




@keyframes rotate{
  0% {
    transform: translateX(-30px);
  }

  30% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateX(20px);
  }

  80% {
    transform: translateY(30px);
  }

  100% {
    transform: translateX(-30px);
  }
}