@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #2e5bff;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --color-grey: #eee;
  --color-dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}


header{
  background: linear-gradient(to right bottom, var(--light-blue), #17d1ff);
  border-radius: 0 0 4rem 4rem;
  position: relative;
  z-index: 10;
}

.animation{
  position: absolute;
  background-color: rgba(60, 158, 153, 0.507);
  width: 150px;
  height: 150px;
  top: 7em;
  left: 2rem;
  border-radius: 50%;
  z-index: -1;
  animation: rotate ease 5s infinite;
}

.anim1{
  background-color: rgba(35, 49, 173, 0.5);
  top: 27rem;
  left: 15rem;
  width: 100px;
  height: 100px;
}

.anim3{
  background-color: rgba(30, 218, 243, 0.5);
  width: 300px;
  height: 300px;
  top: 1rem;
  left: 67rem;
}



nav{
  display: flex;
  justify-content: space-between;
  padding: 1.9rem 6rem;
  align-items: center;
}

nav img{
  width: 128px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  transition: all 0.3s;
}

nav ul li a:hover{
  color: var(--blue);
}

nav .li-get{
  display: none;
}

.get-btn a{
  color: var(--white);
  text-decoration: none;
  border: 2px solid var(--white);
  border-radius: 3rem;
  padding: 9px 20px;
  font-weight: 600;
  transition: all 0.3s;
}

.get-btn a:hover{
  color: var(--blue);
  border: 3px solid var(--light-blue);
  background-color: var(--white);
  padding: 10px 20px;
}

.first-sec{
  padding-top: 75px;
  color: var(--white);
  text-align: center;
}

.first-sec h1{
  font-size: 3.1rem;
  font-weight: 600;
}

.first-sec p{
  padding: 0 250px;
  padding-bottom: 50px;
}

.trial-btn{
  border: 2px solid var(--white);
  padding: 10px 20px;
  border-radius: 3rem;
}

.trial-btn,a{
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
}
.sec-img{
  transform: translateY(23%);
}

.sec-img img{
  width: 950px;
}


.sec-container{
  margin-top: 13rem;
  padding-bottom: 30px;
}

.sec-content{
  text-align: center;
}

.sec-content h2{
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 20px;
}

.sec-content p{
  color: #48757a;
  margin-bottom: 50px;
}

.box-container{
  text-align: center;
  gap: 1.2rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.4rem;
}

.sec-box{
  width: 280px;
  border: 1px solid #48757a49;
  border-radius: 5px;
  padding: 10px 10px 40px 10px;
  cursor: pointer;
}

.sec-box:hover{
  transform: translateY(-10%);
  transition: all 0.3s ease-in-out;
  border-top: 2px solid var(--light-blue);
}

.sec-box h3{
  padding-bottom: 15px;
  font-weight: 600;
}

.sec-box p{
  font-size: 15px;
  padding-bottom: 15px;
}

.fa{
  color: var(--light-blue);
  font-size: 20px;
  padding: 40px 0 18px 0;
}

.link{
  color: var(--blue);
  font-weight: 600;
  border-bottom: 1px solid var(--black);
}






@keyframes rotate{
  0% {
    transform: translateX(-30px);
  }

  30% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateX(30px);
  }

  80% {
    transform: translateY(30px);
  }

  100% {
    transform: translateX(-30px);
  }
}